{% extends 'template_0.html' %}
{% block electrical_log_view %}
<table align="center" border="2px" width="100%">
    <tr>
        <th>Заголовок записи:</th>
        <th>Автор записи:</th>
        <th>Дата время создания</th>
        <th>Объект:</th>


    </tr>
    {% for record in all_electrical_log %}
    <tr>
        <td>
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{ record.id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ record.id }}">
                    {{ record.record_text_title | safe | slice:32 }}
                </a>
            </p>
            <div class="collapse" id="collapseExample{{ record.id }}">
              <div class="card card-body">
                  <div>
                      {{record.record_text_title }}
                  </div>
                  <br>
                  <div>
                      <p class="d-inline-flex gap-1">
                        {{ record.record_text_full }}
                      </p>
                  </div>
                  <div>
                      <a href="{% url 'new_elc_log_view_details' record.id %}" target="_blank">Подробнее</a>
                  </div>
              </div>
            </div>
        </td>
            <td>{{ record.record_author }}</td>
            <td>{{ record.record_data_create }}</td>
            <td>{{ record.record_object }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}