{% extends 'template_0.html' %}
{% block electrical_log_add %}
<div class="form-control">
    <div class="container">
        <form action="{% url 'elc_log_add' %}" enctype="multipart/form-data" method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label" for="text_to_serv">Заголовок</label>
                <input aria-describedby="text_to"
                       class="form-control"
                       id="text_to_serv"
                       name="record_text_title"
                       type="text">
                <div class="form-text" id="text_to_record_text_title">Сюда Заголовок</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="exampleFormControlTextarea1">Кнопки меток для быстрого поиска</label>
                <br>
                <div aria-label="Basic mixed styles example" class="btn-group" role="group">
                    <input class="btn btn-outline-danger"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<ERROR> </ERROR>'; return false;"
                           type="submit"
                           value="Ошибка"/>
                    <input class="btn btn-outline-success"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<SoftStart> </SoftStart>'; return false;"
                           type="submit"
                           value="Плавный пуск"/>
                    <input class="btn btn-outline-success"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<FrequencyDrive> </FrequencyDrive>'; return false;"
                           type="submit"
                           value="Частотный привод"/>
                    <input class="btn btn-outline-success"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<ElectricalCabinet> </ElectricalCabinet>'; return false;"
                           type="submit"
                           value="Электрический Шкаф"/>
                    <input class="btn btn-outline-warning"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<Acknowledged> </Acknowledged>'; return false;"
                           type="submit"
                           value="Квитировали"/>
                    <input class="btn btn-outline-warning"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<CircuitBreaker> </CircuitBreaker>'; return false;"
                           type="submit"
                           value="Автомат"/>
                    <input class="btn btn-outline-warning"
                           onclick="document.getElementById('exampleFormControlTextarea1').value+='<Motor> </Motor>'; return false;"
                           type="submit"
                           value="Электродвигатель"/>
                </div>
                <br>

                <label class="form-label" for="exampleFormControlTextarea1"></label>

                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          name="record_text_full"
                          rows="3"
                          type="text"
                          value=""
                >
                </textarea>
                <div class="form-text" id="text_to_record_text_full">Сюда Текст записи</div>
            </div>

            <select class="form-select" name="record_object">
                {% for el in all_enc_object %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <select class="form-select" name="record_electrical_room">
                {% for el in all_enc_electrical_room %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>


            <select class="form-select" name="record_mechanism">
                {% for el in all_enc_mechanism %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>


{% endblock %}