{% extends 'template_0.html' %}
{% block electrical_log_add %}
<div class="form-control">
    <div class="container">
        <form action="{% url 'els_log_add' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="text_to_serv">Заголовок</label>
                <input aria-describedby="text_to"
                       class="form-control"
                       id="text_to_serv"
                       name="record_text_title"
                       type="text">
                <div class="form-text" id="text_to_record_text_title">Сюда Заголовок</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="exampleFormControlTextarea1">Текст записи</label>
                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          name="record_text_full"
                          rows="3">
                </textarea>
                <div class="form-text" id="text_to_record_text_full">Сюда Текст записи</div>
            </div>

            <select name="record_object">
                {% for el in all_enc_object %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <select name="record_electrical_room">
                {% for el in all_enc_electrical_room %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>


            <select name="record_mechanism">
                {% for el in all_enc_mechanism %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>


{% endblock %}