{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %} {{ title }} {% endblock %}</title>
</head>
<body>
<div class="container">
    <table align="center" border="2px" width="100%">
        <tr align="center">
            <th></th>
            <th>
                <nav><a href="/upload">Загрузить файлы</a></nav>
            </th>
            <th>
                <nav><a href="/">Главная</a></nav>
            </th>
            <th>
                <nav><a href="/download">Скачать файлы</a></nav>
            </th>
            <th></th>
        </tr>
        <tr align="center">
            <th></th>
            <th>
                <nav><a href="/Automation_Log_View">Просмотр журнала</a></nav>
            </th>
            <th>
                <nav><a href="/">Главная</a></nav>
            </th>
            <th>
                <nav><a href="/Automation_Log_Add">Добавление в журнал</a></nav>
            </th>
            <th></th>
        </tr>
    </table>
</div>
<div class="container">

    {% block download %} {% endblock %}

    {% block upload %} {% endblock %}

    {% block Automation_Log_View %} {% endblock %}

    {% block Automation_Log_View_Details %} {% endblock %}

    <div align="center" data-width="100%">
        <br>
        <h5>Carthago Delenda Est !</h5>
        <br>
        <h4>Carthago Delenda Est !</h4>
        <br>
        <h3>Carthago Delenda Est !</h3>
        <br>
        <h2>Carthago Delenda Est !</h2>
        <br>
        <h1>Carthago Delenda Est !</h1>
    </div>
</div>
</body>
<footer class="blog-footer">
</footer>
</html>