{% extends 'template_0.html' %}
{% block user_login %}
<table align="center" border="2px" width="100%">
    <tr align="center">
        <div class="container">
            <form action="{% url 'login' %}" align="center" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Логин:</label>
                    <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="username"
                           type="text">
                    <div class="form-text" id="emailHelp">Логин можно получить у вашего автоматчика.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleInputPassword1">Пароль: </label>
                    <input class="form-control" id="exampleInputPassword1" name="password" type="password">
                    <div class="form-text" id="emailHelp!">Пароль можно получить у вашего автоматчика.</div>
                </div>
                <button class="btn btn-primary" type="submit">Войти</button>
            </form>
        </div>
    </tr>
</table>
{% endblock %}
