<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ФайлоОбмен</title>
</head>
<body>
<div class="container">
    <div align="center">
        <center>
            <h1>
                <a href="/upload">Загрузить файлы</a>
                <br>
                <a href="/download">Скачать файлы</a>
            </h1>
        </center>
    </div>
</div>
<div data-width="100%">

    <center>
        <p>
        <h1><font size="150">Carthago Delenda Est !</font></h1><br>
        <h2><font size="120">Carthago Delenda Est !</font></h2><br>
        <h3><font size="90">Carthago Delenda Est !</font></h3><br>
        <h4><font size="60">Carthago Delenda Est !</font></h4><br>
        <h5><font size="30">Carthago Delenda Est !</font></h5>
        </p>
    </center>

</div>
</body>
</html>