{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %} {{ title }} {% endblock %}</title>
</head>
<body>

<div class="container">
    <table align="center" border="2px" width="100%">
         <tr align="center">
             <th><button></button></th>
             <th><button></button></th>
             {% if request.user.is_authenticated %}
                <th>Вы авторизованы как: {{ request.user }} || <a class="navbar-brand" href="{% url 'logout' %}"><button>Выйти</button></a></th>
             {% else %}
                <th>Вы авторизованы как: Гость || <a class="navbar-brand" href="{% url 'login' %}"><button>Войти</button></a></th>
             {% endif %}
             <th><button></button></th>
             <th><button></button></th>
         </tr>
        <tr align="center">
            <th></th>
            <th>
                <nav><a href="{% url 'upload' %}"><button>Загрузить файлы</button></a></nav>
            </th>
            <th>
                <nav><a href="{% url 'main_page' %}"><button>Главная</button></a></nav>
            </th>
            <th>
                <nav><a href="{% url 'download' %}"><button>Скачать файлы</button></a></nav>
            </th>
            <th></th>
        </tr>
        <tr align="center">
            <th></th>

            <th>
                <nav><a href="{% url 'as_log_view' %}"><button>Просмотр журнала</button></a></nav>
            </th>
            <th>
                <nav><a href="{% url 'main_page' %}"><button>Главная</button></a></nav>
            </th>
            <th>
                <nav><a href="{% url 'as_log_add' %}"><button>Добавление в журнал</button></a></nav>
            </th>

            <th></th>
        </tr>
    </table>
</div>
<div class="container">
    {% block user_login %} {% endblock %}

    {% block download %} {% endblock %}

    {% block upload %} {% endblock %}

    {% block automation_log_view %} {% endblock %}

    {% block ASLogViewDetails %} {% endblock %}


    <div align="center" data-width="100%">
        <br>
        <h5>Carthago Delenda Est !</h5>
        <br>
        <h4>Carthago Delenda Est !</h4>
        <br>
        <h3>Carthago Delenda Est !</h3>
        <br>
        <h2>Carthago Delenda Est !</h2>
        <br>
        <h1>Carthago Delenda Est !</h1>
    </div>
</div>
</body>
<footer class="blog-footer">
</footer>
</html>