{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %} {{ title }} {% endblock %}</title>

</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main_page' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Журнал Simatic
          </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'as_log_add' %}">Добавление в журнал</a></li>
                <li><a class="dropdown-item" href="{% url 'as_log_view' %}">Просмотр журнала</a></li>
                <!--
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                -->
              </ul>
          </li>
                    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Журнал Электриков
          </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'elc_log_add' %}">Добавление в журнал</a></li>
                <li><a class="dropdown-item" href="{% url 'elc_log_view' %}">Просмотр журнала</a></li>
                <!--
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                -->
              </ul>
          </li>
        <!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Файлы
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'upload' %}">Загрузить файлы</a></li>
            <li><a class="dropdown-item" href="{% url 'download' %}">Скачать файлы</a></li>
            <!--
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            -->
          </ul>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>

        <div>
            {% if request.user.is_authenticated %}
            <div>
                Вы авторизованы как: {{ request.user }} || <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>
            </div>

            {% else %}
            <div>
                Вы авторизованы как: Гость || <a class="navbar-brand" href="{% url 'login' %}">Войти</a>
            </div>
            {% endif %}
        </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
    <!--
    <table align="center" border="2px" width="100%">
        <tr align="center">
            <th></th>
            <th></th>
            {% if request.user.is_authenticated %}
            <th>Вы авторизованы как: {{ request.user }} || <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>
            </th>
            {% else %}
            <th>Вы авторизованы как: Гость || <a class="navbar-brand" href="{% url 'login' %}">Войти</a></th>
            {% endif %}
            <th></th>
            <th></th>
        </tr>
        <tr align="center">
            <th></th>
            <th>
                <nav><a href="{% url 'upload' %}">Загрузить файлы</a></nav>
            </th>
            <th>
                <nav><a href="{% url 'main_page' %}">Главная</a></nav>
            </th>
            <th>
                <nav>
                    <a href="{% url 'download' %}">
                        <button class="btn btn-primary" type="button">Скачать файлы
                            <span class="badge text-bg-secondary">{{ files_count }}</span>
                        </button>
                    </a></nav>
            </th>
            <th></th>
        </tr>
        <tr align="center">
            <th></th>
            <th>

                <a href="{% url 'as_log_view' %}">
                    <button class="btn btn-primary" type="button">Просмотр журнала
                        <span class="badge text-bg-secondary">4</span>
                    </button>
                </a>
            </th>
            <th>
                <nav><a href="{% url 'main_page' %}">Главная</a></nav>
            </th>
            <th>
                <nav><a href="{% url 'as_log_add' %}">Добавление в журнал</a></nav>
            </th>
            <th></th>
        </tr>
    </table>
    -->
</div>
<div class="container">
    {% block user_login %} {% endblock %}

    {% block download %} {% endblock %}

    {% block upload %} {% endblock %}

    {% block automation_log_add %} {% endblock %}

    {% block automation_log_view %} {% endblock %}

    {% block ASLogViewDetails %} {% endblock %}


    <div align="center" data-width="100%">

        <h6>Carthago Delenda <span class="badge bg-secondary">Est !</span></h6>
        <h5>Carthago Delenda <span class="badge bg-secondary">Est !</span></h5>
        <h4>Carthago Delenda <span class="badge bg-secondary">Est !</span></h4>
        <h3>Carthago Delenda <span class="badge bg-secondary">Est !</span></h3>
        <h2>Carthago Delenda <span class="badge bg-secondary">Est !</span></h2>

        <h1>Carthago Delenda <span class="badge bg-secondary">Est !</span></h1>
        <h2>Carthago Delenda <span class="badge bg-secondary">Est !</span></h2>
        <h3>Carthago Delenda <span class="badge bg-secondary">Est !</span></h3>
        <h4>Carthago Delenda <span class="badge bg-secondary">Est !</span></h4>
        <h5>Carthago Delenda <span class="badge bg-secondary">Est !</span></h5>
        <h6>Carthago Delenda <span class="badge bg-secondary">Est !</span></h6>

    </div>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<footer class="blog-footer">
</footer>
</body>
</html>