{% load static %}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png"/>
    <title>{% block title %} {{ title }} {% endblock %}</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<!--Dark Light Theme-->

<svg class="d-none" xmlns="http://www.w3.org/2000/svg">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button aria-expanded="false"
            aria-label="Toggle theme (auto)"
            class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            data-bs-toggle="dropdown"
            id="bd-theme"
            type="button">
        <svg class="bi my-1 theme-icon-active" height="1em" width="1em">
            <use href="#circle-half"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul aria-labelledby="bd-theme-text" class="dropdown-menu dropdown-menu-end shadow">
        <li>
            <button aria-pressed="false" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    type="button">
                <svg class="bi me-2 opacity-50" height="1em" width="1em">
                    <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" height="1em" width="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button aria-pressed="false" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    type="button">
                <svg class="bi me-2 opacity-50" height="1em" width="1em">
                    <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" height="1em" width="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button aria-pressed="true" class="dropdown-item d-flex align-items-center active"
                    data-bs-theme-value="auto"
                    type="button">
                <svg class="bi me-2 opacity-50" height="1em" width="1em">
                    <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" height="1em" width="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>

<!--Dark Light Theme-->
<main class="container">
    <a href="{% url 'main_page' %}"><h1><span class="badge bg-secondary">УРОЭ Энергетический Цех</span></h1></a>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main_page' %}">Главная</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Журнал Группы Автоматики
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'as_log_add' %}">Добавление в журнал</a></li>
                            <li><a class="dropdown-item" href="{% url 'as_log_view' %}">Просмотр журнала</a></li>
                            <!--
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Журнал Электриков
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'elc_log_add' %}">Добавление в журнал</a></li>
                            <li><a class="dropdown-item" href="{% url 'elc_log_view' %}">Просмотр журнала</a></li>
                            <!--
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            -->
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    -->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Файлы
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'upload' %}">Загрузить файлы</a></li>
                            <li><a class="dropdown-item" href="{% url 'download' %}">Скачать файлы</a></li>
                            <!--
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Подсказки
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a aria-disabled="true" class="nav-link disabled" href="#">Электро-сказки</a>
                            </li>
                            <ul class="nav-item dropdown">
                                <ul class="nav-item dropdown">Остальное
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/other/%D0%9F%D0%BE_%D1%83%D1%87%D0%B0%D1%81%D1%82%D0%BA%D0%B0%D0%BC_2023.xls">ППР</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/other/EKBInst.pdf">EKB Manual</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/other/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BF%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D1%80%D0%B0%D0%BD%D0%B8%D1%87%D0%B5%D0%BD%20%20%D0%B7%D0%BE%D0%BD%20%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%20%2006%2006%202022.doc">Положения
                                            по разграничен зон обслуживания</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-disabled="true" class="nav-link disabled" href="#">Почта</a>
                                    </li>
                                </ul>
                                <ul class="nav-item dropdown">Привод
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/drivers/SIEMENS/GSG_SINAMICS_G120C_ru-RU.pdf">
                                            Привод SINAMICS_G120C</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/drivers/ABB/RU_ACS800_standard_ctr_prg_FW_L.pdf">Привод
                                            ABB_ACS800_RU</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-disabled="true"
                                           class="nav-link"
                                           href="/media/upload_file/drivers/ABB/EN_ACS800_Standard_FW_L.pdf">Привод
                                            ABB_ACS800_EU</a>
                                    </li>
                                </ul>
                                <li class="nav-item"><a aria-disabled="true" class="nav-link disabled" href="#">Электро-сказки</a>
                            </ul>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                    -->
                </ul>

                <div>
                    {% if request.user.is_authenticated %}
                    <div class="navbar-brand">
                        Вы: {{ request.user }} || <a class="btn btn-outline-warning"
                                                     href="{% url 'logout' %}">Выйти</a>
                        <!-- Вы авторизованы как: {{ request.user }} || <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>-->
                    </div>
                    {% else %}
                    <div class="navbar-brand">
                        Вы: Гость || <a class="btn btn-outline-danger"
                                        href="{% url 'login' %}">Войти</a>
                        <!--Вы авторизованы как: Гость || <a class="navbar-brand" href="{% url 'login' %}">Войти</a>-->
                    </div>
                    {% endif %}
                </div>
                <div>
                    <form action="{% url 'as_search_results' %}" class="d-flex" method="get" role="search">
                        <input aria-label="Search" class="form-control me-2" name="search" placeholder="Автоматчики"
                               type="search">
                        <button class="btn btn-outline-success" type="submit">Ищем</button>


                    </form>
                    <form action="{% url 'elc_search_results' %}" class="d-flex" method="get" role="search">
                        <input aria-label="Search" class="form-control me-2" name="search" placeholder="Электрики"
                               type="search">
                        <button class="btn btn-outline-success" type="submit">Ищем</button>
                    </form>
                </div>

            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        {% if request.user.is_authenticated %}
        {% block download %} {% endblock %}
        {% block upload %} {% endblock %}
        {% block automation_log_add %} {% endblock %}
        {% block automation_log_view %} {% endblock %}
        {% block ASLogViewDetails %} {% endblock %}
        {% block electrical_log_add %} {% endblock %}
        {% block electrical_log_view %} {% endblock %}
        {% block ElcLogViewDetails %} {% endblock %}
        {% block SearchResultsView %} {% endblock %}
        {% else %}
        {% block user_login %} {% endblock %}
        {% endif %}

        <div align="center" data-width="100%">
            <p>

            <h6>Carthago Delenda <span class="badge bg-secondary">Est !</span></h6>
            <h5>Carthago Delenda <span class="badge bg-secondary">Est !</span></h5>
            <h4>Carthago Delenda <span class="badge bg-secondary">Est !</span></h4>
            <h3>Carthago Delenda <span class="badge bg-secondary">Est !</span></h3>
            <h2>Carthago Delenda <span class="badge bg-secondary">Est !</span></h2>

            <h1>Carthago Delenda <span class="badge bg-secondary">Est !</span></h1>

            <h2>Carthago Delenda <span class="badge bg-secondary">Est !</span></h2>
            <h3>Carthago Delenda <span class="badge bg-secondary">Est !</span></h3>
            <h4>Carthago Delenda <span class="badge bg-secondary">Est !</span></h4>
            <h5>Carthago Delenda <span class="badge bg-secondary">Est !</span></h5>
            <h6>Carthago Delenda <span class="badge bg-secondary">Est !</span></h6>

            </p>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</main>
<footer class="blog-footer">
</footer>
</body>
</html>