/.idea/
/.idea
/Enc_Electro_Site/db.sqlite3

/Enc_Electro_Site/media/upload_file/13_XB11_Водоподготовка.zip
/Enc_Electro_Site/media/upload_file/Autorun.inf
/Enc_Electro_Site/media/upload_file/DOC.zip
/Enc_Electro_Site/media/upload_file/GuidaInstallazione.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuide.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuide_sqh0TJ4.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideChinese.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideChinese_6Uc62L0.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideChinese_vlxBPSO.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideJapanese.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideJapanese_lUQvITq.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideJapanese_YohRJda.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideJapanese_ZlsMkJp.pdf
/Enc_Electro_Site/media/upload_file/InstallationGuideTaiwanese.pdf
/Enc_Electro_Site/media/upload_file/Installationsanleitung.pdf
/Enc_Electro_Site/media/upload_file/RT.ssf
/Enc_Electro_Site/media/upload_file/RT_cYId6yr.ssf
/Enc_Electro_Site/media/upload_file/RT_DdUdCQS.ssf
/Enc_Electro_Site/media/upload_file/Setup.exe
/Enc_Electro_Site/media/upload_file/XB11-A81-ED101-03-R_XB11E10PLC01_Схема_автоматики.PDF
/Enc_Electro_Site/media/upload_file/XB11-A82-ED102-01-R_XB11E10SSY01_Схема_ПУ.PDF
/Enc_Electro_Site/media/upload_file/XB11-E96-ED104-03-R_XB11E10MCS01_Схема_РЩ_приводы_и_пускатели.pdf
/Enc_Electro_Site/media/upload_file/Блоки_питания.xlsx
/Enc_Electro_Site/media/upload_file/вопросы_охрана_труда_для_мастера_УРОЭ_2024.doc
/Enc_Electro_Site/media/upload_file/для_дача.zip
/Enc_Electro_Site/media/upload_file/дэу_такума.zip
/Enc_Electro_Site/media/upload_file/ИЗВЕСТЬ.zip
/Enc_Electro_Site/media/upload_file/медицина.zip
/Enc_Electro_Site/media/upload_file/Тайота_аурис.zip
/Enc_Electro_Site/media/upload_file/LAN_GONFIG_6Qw5uFx.txt
/Enc_Electro_Site/media/upload_file/LAN_GONFIG.txt
/Enc_Electro_Site/media/upload_file/Export.txt
