{% extends 'template_0.html' %}
{% block title %} {{ log_view_details.record_text_title }} {% endblock %}
{% block ElcLogViewDetails %}

<table align="center" border="2px" width="100%">
    <tr>
        <th>Автор записи:</th>
        <td>{{ log_view_details.record_author }}</td>
    </tr>
    <tr>
        <th>Дата время создания:</th>
        <td>{{ log_view_details.record_data_create }}</td>
    </tr>
    <tr>
        <th>Объект:</th>
        <td>{{ log_view_details.record_object }}</td>
    </tr>
    <tr>
        <th>Текст записи:</th>
        <td>{{ log_view_details.record_text_full }}</td>
    </tr>
    <tr>
        <th>Электропомещение:</th>
        <td>{{ log_view_details.record_electrical_room }}</td>
    </tr>

    <tr>
        <th>Механизм:</th>
        <td>{{ log_view_details.record_mechanism }}</td>
    </tr>
</table>
{% endblock %}