{% extends 'home/templ_0.html' %}


{% block title %}
{{ title }}
{% endblock %}
<main class="container" role="main">
    {% block content %}

    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">Про TechSpace</h3>
            <div class="blog-post">

                <p>ТэчСпэйс (TechSpace) &mdash; мастерская-клуб, где энтузиасты могут заниматься любимым делом,</p>
                <p>Будь то радиолюбительство, конструирование, программирование, моделирование или даже художественное
                    творчество.</p>
                <p>В мире существует множество #HackerSpace различной направленности, но, прежде всего, это &mdash;
                    клубы технического творчества.</p>
                <p>Чем мы здесь занимаемся?</p>
                <ul>
                    <li>Мы творим.</li>
                    <li>Мы паяем, программируем, вырезаем из металла, пластика и дерева.</li>
                    <li>Мы делаем роботов, дронов и строим станки ЧПУ.</li>
                    <li>Мы собираем 3D-принтеры.</li>
                    <li>Мы делаем печатные платы.</li>
                    <li>Мы делимся опытом и совершаем ошибки.</li>
                    <li>Придумываем новые проекты и улучшаем старые.</li>
                </ul>
                <hr>
                <p>
                    <a href="#">#TechSpaceЖлобин</a>,
                    <a href="#">#TechSpaceZHL</a>,
                    <a href="#">#TechSpace</a>,
                    <a href="#">#ЖлобинскийTechSpace</a>,
                    <a href="#">#DIYcommunity</a>,
                    <a href="#">#3Dпринтер</a>,
                    <a href="#">#ЧПУфрезер</a>,
                    <a href="#">#паяльнаястанция</a>,
                    <a href="#">#Жлобин</a>,
                    <a href="#">#проекты</a>,
                    <a href="#">#сделайсам</a>,
                    <a href="#">#arduino</a>
                </p>
            </div>
            <!-- Обратить внимание на этот тэг class="row" -->
        </div>

        {% endblock %}