{% extends 'template_0.html' %}
{% block download %}
<div class="container">
    <table align="center" border="2px" width="100%">
        <tr>
            <th>Имя отправителя файла:</th>
            <th>Имя получателя файла</th>
            <th>Дата время создания</th>
            <th>Ссылка для скачивания</th>
        </tr>
        {% for file in all_files %}
        <tr>
            <td>{{ file.text }}</td>
            <td>{{ file.text_to }}</td>
            <td>{{ file.data_create }}</td>
            <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}