{% extends 'template_0.html' %}
{% block upload %}
<div class="container">
    <form action="/upload" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="exampleInputEmail1">Имя отправителя файла</label>
            <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="text" type="text"
                   value="{{ aut_user }}">
            <div class="form-text" id="emailHelp">Сюда имя отправителя файла</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="text_to_serv">Имя получателя файла</label>
            <input aria-describedby="text_to" class="form-control" id="text_to_serv" name="text_to" type="text">
            <div class="form-text" id="text_to">Сюда имя получателя файла</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="formFile">Файл</label>
            <input class="form-control" id="formFile" multiple name="file" type="file">
        </div>
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
</div>
{% endblock %}