{% extends 'template_0.html' %}
{% block automation_log_add %}
<div class="form-control">
    <div class="container">
        <form action="{% url 'as_log_add' %}" enctype="multipart/form-data" method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label" for="text_to_serv">Заголовок</label>
                <input aria-describedby="text_to"
                       class="form-control"
                       id="text_to_serv"
                       name="record_text_title"
                       type="text">
                <div class="form-text" id="text_to_record_text_title">Сюда Заголовок</div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="exampleFormControlTextarea1">Текст записи</label>
                <br>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DI> <<DI>'; return false;" value = "DI" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DQ> <DQ>'; return false;" value = "DQ" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<PIW> <PIW>'; return false;" value = "PIW" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<PQW> <PQW>'; return false;" value = "PQW" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<OB> <OB>'; return false;" value = "OB" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<FC> <FC>'; return false;" value = "FC" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<FB> <FB>'; return false;" value = "FB" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<NW> <NW>'; return false;" value = "NW" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DB> <DB>'; return false;" value = "DB" />
                    <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<VAT> <VAT>'; return false;" value = "VAT" />
                </div>
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DI> '; return false;" value = "DI" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DQ> '; return false;" value = "DQ" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<PIW> '; return false;" value = "PIW" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<PQW> '; return false;" value = "PQW" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<OB> '; return false;" value = "OB" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<FC> '; return false;" value = "FC" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<FB> '; return false;" value = "FB" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<NW> '; return false;" value = "NW" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<DB> '; return false;" value = "DB" />-->
<!--                <input type="submit" class="btn btn-success" onclick="document.getElementById('exampleFormControlTextarea1').value+='<VAT> '; return false;" value = "VAT" />-->
                <br>

                <label class="form-label" for="exampleFormControlTextarea1"></label>

                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          name="record_text_full"
                          rows="3"
                          type = "text"
                          value = ""
                >
                </textarea>
                <div class="form-text" id="text_to_record_text_full">Сюда Текст записи</div>
            </div>

            <div class="form-check form-switch">
                <input checked=""
                       class="form-check-input"
                       id="flexSwitchCheckChecked_record_change_location_plc"
                       name="record_change_location_plc"
                       role="switch"
                       type="checkbox"
                       data-off="False" data-on="True">
                <label class="form-check-label" for="flexSwitchCheckChecked_record_change_location_plc">
                    Изменение в PLC
                </label>
            </div>

            <div class="form-check form-switch">
                <input checked=""
                       class="form-check-input"
                       id="flexSwitchCheckChecked_record_change_location_hmi"
                       name="record_change_location_hmi"
                       role="switch"
                       type="checkbox"
                       data-off="False" data-on="True">
                <label class="form-check-label" for="flexSwitchCheckChecked_record_change_location_hmi">
                    Изменение в HMI
                </label>
            </div>

            <select name="record_object">
                {% for el in all_enc_object %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <select name="record_electrical_room">
                {% for el in all_enc_electrical_room %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <select name="record_project">
                {% for el in all_enc_project %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <select name="record_mechanism">
                {% for el in all_enc_mechanism %}
                <option value="{{ el.id }}">
                    {{ el.title }}
                </option>
                {% endfor %}
            </select>

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>


{% endblock %}