{% extends 'template_0.html' %}
{% block automation_log_view %}
<table align="center" border="2px" width="100%">
    <tr>
        <th>Заголовок записи:</th>
        <th>Короткий текст записи:</th>
        <th>Автор записи:</th>
        <th>Дата время создания</th>
        <th>Объект:</th>


    </tr>
    {% for record in all_automation_log %}
    <tr>
        <td>
            <a href="{% url 'new_log_view_details' record.id %}">
                {{record.record_text_title }}</a>
        </td>
        <td>{{ record.record_text_description }}</td>
        <td>{{ record.record_author }}</td>
        <td>{{ record.record_data_create }}</td>
        <td>{{ record.record_object }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}