{% extends 'template_0.html' %}
{% block automation_log_view %}
<div class="container">
    <table align="center" width="100%">
        <tr>
            <th>Заголовок записи:</th>
            <th>Автор записи:</th>
            <th>Дата время создания</th>
            <th>Объект:</th>
        </tr>
        {% for record in all_automation_log %}
        <tr id="{{ record.id }}">
            <td>
                <p class="d-inline-flex gap-1">
                    <a aria-controls="collapseExample{{ record.id }}" aria-expanded="false"
                       class="btn btn-outline-warning"
                       data-bs-toggle="collapse" href="#collapseExample{{ record.id }}" role="button">
                        {{ record.record_text_title | safe | slice:32 }}
                    </a>
                </p>
                <div class="collapse" id="collapseExample{{ record.id }}">
                    <div class="card card-body">
                        <div>
                            {{record.record_text_title }}
                        </div>
                        <br>
                        <div>

                            <script type="text/javascript">
                                var step_a = document.getElementById("text_box_{{ record.id }}").innerHTML; // получил данные
                                var step_b = step_a.replace(/&lt;FC&gt;/g, '<a href="{% url 'as_search_results' %}?search=<FC>'); // нашел тэг и поменял
                                var step_c = step_b.replace(/&lt;\/FC&gt;/g, '">FC<\/a>'); // записал новые данные

                                document.getElementById('text_box_1').innerHTML = step_c;

                                console.log(step_a);
                                console.log(step_b);
                                console.log(step_c);

                            </script>

                            <p id="text_box_{{ record.id }}" class="d-inline-flex gap-1" >
                                {{ record.record_text_full }}
                            </p>


                        </div>
                        <div>
                            <a href="{% url 'new_as_log_view_details' record.id %}" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </td>

            <td>{{ record.record_author }}</td>
            <td>{{ record.record_data_create }}</td>
            <td>{{ record.record_object }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}