{% extends 'template_0.html' %}
{% block SearchResultsView %}
<div class="container">
    <table align="center" border="2px" width="100%">
        <br>
        <div>По вашему запросу вот, что нашлось:</div>
        <br>
          {% for result in object_list %}
        <tr>
            <th>{{ result.record_text_title }}</th>
        </tr>
        <tr>
            <td>
                <br>
                <p>{{ result.record_text_full }}</p>
                <mark>[{{ result.record_object }}] [{{ result.record_electrical_room }}] [{{ result.record_project }}] [{{ result.record_mechanism }}]</mark>
            </td>

        </tr>
  {% endfor %}
    </table>
</div>
{% endblock %}
